body.modal-open {
    overflow: hidden;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    position: relative;
}

.modal-content img {
    max-width: 100%;
    max-height: 600px;
    object-fit: contain;
    /* Ajusta la imagen sin distorsionar, manteniendo la proporción */
    display: block;
    cursor: zoom-in;
}

.modal-close {
    position: absolute;
    top: -50px;
        right: 0;
    background: none;
    border: none;
    font-size: 3.5rem;
    cursor: pointer;
    color: var(--fontColorEmphasis);
  
    z-index: 1010;
}

.modal-close:hover {
    color: var(--emerald-green);
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

@media (min-width: 1024px) {
    .modal-content {
        padding: 20px;
    }
}