:root{
    --background: #F5F5F5;
    --white: #fff;
    --black: #000;
    --fontColorEmphasis: #FFD700;
    --grey-light: #F5F5F5;
    --emerald-green: #50C878;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background) !important;
    font-family: "Kanit", sans-serif;
    color: var(--black);
    overflow-x: hidden;
}

html{
    font-size: 62.5%;
}

h2{
    font-size: 2.5rem !important;
    text-align: center;
}

h3{
    font-size: 1.8rem !important;
    text-align: center;
}

@media (min-width: 768px) {
    h2{
        font-size: 3rem !important;
    }

    h3{
        font-size: 2rem !important;
    }
}

@media (min-width: 1024px) {
    h2{
        font-size: 3.5rem !important;
    }

    h3{
        font-size: 2.4rem !important;
    }
}