.NavBar {
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--black);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 60px;
}

.NavBar h1 {
    font-size: 1.5rem;
    color: var(--fontColorEmphasis);
    font-family: "Playwrite HR", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    padding-left: 20px !important;
}

.nav-toggle {
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--fontColorEmphasis);
}

.nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    background-color: var(--black);
    transition: right 0.3s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    list-style: none;
    
}

.nav-menu_visible {
    right: 0;
}

.nav-menu li {
    list-style: none;
    margin: 20px 0;
}

.nav-menu .item {
    text-decoration: none;
    color: var(--white);
    font-size: 1.4rem;
    cursor: pointer;
}

.nav-menu .item:hover {
    color: var(--fontColorEmphasis);
}

.close-menu {
    background: none;
    border: none;
    font-size: 1.8rem;
    color: var(--white);
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}

@media (min-width: 768px) {
    .NavBar h1 {
        font-size: 1.6rem;
    }

    .nav-menu .item {
        font-size: 1.6rem;
    }
}

@media (min-width: 1024px) {
    .NavBar {
        height: 92px;
        padding: 0 30px;
    }

    .NavBar h1 {
        font-size: 25px;
    }

    .nav-menu .item {
        font-size: 1.8rem;
    }

    .nav-toggle {
        display: none;
    }

    .nav-menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0);
        flex-direction: row;
        padding: 0;
        gap: 20px;
    }

    .close-menu {
        display: none;
    }

}